<section id="add" class="container">
  <div class="form-wrap">
    <h1>Ajouter un produit</h1>
    <form action="/products/new" method="POST">
      <div class="input-group">
        <label for="name">Titre du produit : </label>
        <input type="text" name="name" id="name" placeholder=""
          maxlength="100" value={{dataValues.name}}>
      </div>
      <div class="input-group">
        <label for="Prix">Prix : </label>
        <input type="number" name="price" id="price" class="input-box" placeholder=""
          value={{dataValues.price}}>
      </div>
      <div class="input-group">
        <label for="description">Date : </label>
        {{dataValues.date}}
      </div>
      <input type="submit" value="Add Product" class="btn btn-reverse btn-primary">
    </form>
  </div>
</section>