<div class="card" style="width: 20rem;">
    <img src="/assets/asB01.png" class="card-img-top" height="250" alt="carte test">
    <div class="card-body">
        <h5 class="card-title">{{dataValues.name}}</h5>
        <p class="card-text">
        <ul>
            <li>Nom du produit : {{dataValues.name}}</li>
            <li>Prix: {{dataValues.price}}</li>
            <li>Date: {{dataValues.date}}</li>
        </ul>
        </p>
        <a href="/products/all" class="btn btn-primary">Go Back</a>
    </div>
</div>