<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Shindra Online</h1>
    <p class="lead">Bienvenue dans la boutique de Shindra.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/products/all" role="button">Produits</a>
  </div>
</div>

{{!-- ok --}}