<section id="add" class="container">
  <div class="form-wrap">
    <h1>Editer un produit</h1>
    <form action="/products/edit-product/{{dataValues.idproduct}}" method="POST">
      <div class="input-group">
        <label for="name">Titre du produit</label>
        <input type="text" name="name" id="name" placeholder="
          maxlength="100"" value={{dataValues.name}}>
      </div>
      <div class="input-group">
        <label for="budget">Prix : </label>
        <input type="number" name="price" id="price" class="input-box" placeholder=""
          value={{dataValues.price}}>
      </div>
      <div class="input-group">
        <label for="description">Date : </label>
        {{dataValues.date}}
      </div>
      <input class="btn btn-reverse btn-secondary" type="submit" value="Edit Product">
    </form>
  </div>
</section>